<% if current_user %>

  <p>Commenting as: <code><%= current_user.name%></code></p>
  
  <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :body, 'Comment', class: 'control-label' %>
      <%= form.text_area :body, class: 'form-control' %>
    </p>
    <div>
      <%= form.submit '+ Comment', :class => 'btn btn-primary' %>
    </p>
  <% end %>
<% else %>
<p><%= link_to 'Login to comment',
      login_url,
      class: 'btn btn-primary' %></p>
<% end %>
