<h1>All Articles</h1>
<% @articles.each do |article| %>
  <dl class="article--listing">
    <dt><%= article.title %></dt>
    <dd>
      <strong>Posted:</strong>
      <code><%= article.created_at.strftime("%B %e, %Y") %></code>
    </dd>
    <dd><%= render 'view_button', article: article %></dd>
  </dl>
<% end %>
<p>
  <%= render 'shared/home_button' %>
  <% if current_user_is_author? %>
    <%= render 'shared/new_button', path: new_article_path %>
  <% end %>
</p>
