<h1><%= @article.title %></h1>
<p>
  <strong>Written by:</strong>
  <code><%= link_to @author.name, @author %></code>
</p>
<p><%= @article.text %></p>
<hr>
<%= render 'comments' %>
<p>
  <%= render 'index_button' %>
  <% if current_user?(@author) || current_user_is_admin? %>
    <%= render 'shared/edit_button', path: edit_article_path(@article) %>
    <%= render 'shared/delete_button', path: article_path(@article) %>
  <% end %>
</p>
