<h1><%= @article.title %></h1>
<p>
  <strong>Written by:</strong>
  <code><%= link_to @author.name, @author %></code>
</p>
<p><%= @article.text %></p>
<hr>
<%= render 'comments' %>
<p>
  <%= render 'index_button' %>
  <% if current_user?(@author) %>
    <%= render 'edit_button' %>
    <%= render 'delete_button' %>
  <% end %>
</p>
