<h1>Title: <%= @article.title %></h1>
<p><%= @article.text %></p>
<p><%= link_to 'Edit', edit_article_path(@article) %></p>
<p><%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'All Articles', controller: 'articles' %></p>
