<% if notice %>
    <div class="alert alert-default"><%= notice %></div>
<% end %>

<h1>All Users</h1>

<% if @users.any? %>

<%= will_paginate %>

<ul class="users--list">
  <%= render @users %>
</ul>

<%= will_paginate %>

<% else %>
<p><em>No users found!</em></p>
<% end %>

<p>
  <%= render 'shared/home_button' %>
  <%= render 'shared/new_button', path: new_user_path %>
</p>
