<% if notice %>
    <div class="alert alert-success"><%= notice %></div>
<% end %>

<h1><%= gravatar_for @user, size: 60 %> <%= @user.name %></h1>

<p>
  <strong>Email:</strong> <%= @user.email %>
  <% if !@user.auth0_id.blank? %>
  <br><strong>Auth0:</strong> <%= @user.auth0_id %>
  <% end %>
</p>

<hr>
<p>
  <%= link_to '← All Users',
        users_path,
        class: 'btn btn-default' %>
  <%= link_to 'Edit →',
        edit_user_path(@user),
        class: 'btn btn-primary' %>
  <%= link_to '✕ Delete', user_path(@user),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger' %>
</p>
