<section class="jumbotron">
  <pre><%= ENV['AUTH0_RUBY_DOMAIN'] %><br><%= ENV['AUTH0_RUBY_CLIENT_ID'] %></pre>
  <h2>
    <%= link_to root_path do %>
       <%= image_tag "https://cdn.auth0.com/website/styleguide/getting-started-icon.svg" %>
    <% end %>
  </h2>
  <h1>Auth0 ❤︎ Ruby</h1>
  <% if logged_in? %>
    <%= link_to 'Log Out', logout_url, method: 'delete', class: 'btn btn-success' %>
    <%= link_to 'Profile', current_user, class: 'btn btn-success' %>
  <% else %>
    <%= link_to 'Log In', login_path, class: 'btn btn-success' %>
    <%= link_to 'Sign Up', signup_path, class: 'btn btn-success' %>
  <% end %>
</section>
