<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Basic Auth0 Ruby App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdn.auth0.com/styleguide/core/2.0.5/core.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.auth0.com/styleguide/components/2.0.0/components.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/jumbotron' %>
    <section class="main">
      <%= yield %>
    </section>
  </body>
</html>
