<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdn.auth0.com/styleguide/core/2.0.5/core.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.auth0.com/styleguide/components/2.0.0/components.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/jumbotron' %>
    <section class="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </section>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
